/Contoh Capstone Project Modul 2.ipynb
/Contoh Capstone _ Listdown Question.docx.pdf
/Converting.py
/Data Pre-processing_2.py
/Data Pre-processing_3.py
/Data Pre-processing_4.py
/Data_Pre-processing_1.py
/Link Pengumpulan Modul 2.docx
/MachineLearning.py
/MachineLearning_2.py
/MinMaxScaler.py
/Module 2 Guideline.pdf
/Notes Project Module 2.txt
/project2.ipynb